.wrapper404 {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background: linear-gradient(to bottom, tomato 0%, #ff8c42 50%, #ffe600 100%);

  .title404 {
    font-size: 10rem;
    color: white;
  }
  .text404 {
    font-size: 2rem;
  }

  .button404 {
    font-size: 1.5rem;
    border: 10px solid white;
    padding: 1rem;
    border-radius: 10rem;
    cursor: pointer;

    &:hover {
      background-color: white;
      color: black;
    }
  }
}
