.wrapper404 {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );

  .title404 {
    font-size: 10rem;
    color: white;
  }
  .text404 {
    font-size: 2rem;
  }

  .button404 {
    font-size: 1.5rem;
    border: 10px solid white;
    padding: 1rem;
    border-radius: 10rem;
    cursor: pointer;

    &:hover {
      background-color: white;
      color: black;
    }
  }
}
